<div class="datepicker-container">
    <input
      type="text"
      (click)="toggleCalendar()"
      [value]="formattedDate"
      [readOnly]="true"
    >
    <div *ngIf="isCalendarOpen" class="calendar" #calendarContainer>
      <div class="calendar-header">
        <div class=" d-flex ">
            
          <div class="monthButtonContainer d-flex align-items-center justify-content-start">

          <!-- Дропдаун місяця -->

            <ng-container *ngIf="isMonthDropdownOpen; else monthLabel">
              <select class="monthDropdown" [(ngModel)]="selectedDateMonth" (ngModelChange)="onMonthChange()">
                <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
              </select>
            </ng-container>

            <ng-template #monthLabel>
              <span class="month" (click)="toggleMonthDropdown($event)">{{ getMonthName() }}</span>
            </ng-template>

          <!-- Дропдаун року -->

            <ng-container *ngIf="isYearDropdownOpen; else yearLabel">
              <select class="yearDropdown" [(ngModel)]="selectedDateYear" (ngModelChange)="onYearChange()">
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
              </select>
            </ng-container>

            <ng-template #yearLabel>
              <span class="year" (click)="toggleYearDropdown($event)">{{ selectedDateYear }}</span>
            </ng-template>

          </div>
          <!-- Хрестик, вихід із датапікеру -->
          <div class=" toggleCalendarButtonContainer d-flex ">
            <button class="toggleCalendarButton" (click)="toggleCalendar()">x</button>
          </div>

        </div>
      </div>
      <div class="calendar-body">
        <table>
          <tr>
            <th *ngFor="let weekday of weekdays">{{ weekday }}</th>
          </tr>
          <tr *ngFor="let week of calendarDays">
            <td *ngFor="let dayData of week" 
                (click)="selectDate(dayData.date)"
                >
              <span 
              class="date" 
              [class.prev-month]="!dayData.isCurrentMonth"
              >
                {{ dayData.date.getDate() }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>