<div class="datepicker-container">
    <input
      type="text"
      (click)="toggleCalendar()"
      [value]="formattedDate"
      readonly
    >
  
    <div *ngIf="isCalendarOpen" class="calendar" #calendarContainer>
        <div class="calendar-header">
          <div class="d-flex justify-content-between">
            <div class="monthButtonContainer ">
              <button (click)="getPreviousMonth()"> &#8249; </button>
              <span class="month">{{ getMonthName() }}</span>
              <button (click)="getNextMonth()"> &#8250; </button>
            </div>
            <div class="toggleCalendarButtonContainer">
              <button class="toggleCalendarButton" (click)="toggleCalendar()">x</button>
            </div>
          </div>
        </div>
      <div class="calendar-body">
        <table>
          <tr>
            <th *ngFor="let weekday of weekdays">{{ weekday }}</th>
          </tr>
          <tr *ngFor="let week of calendarDays">
            <ng-container *ngFor="let day of week">
              <td
                [class.selected]="isDateSelected(day)"
                [class.today]="isDateToday(day)"
                (click)="selectDate(day)"
              >
                <span class="date-number">{{ day?.getDate() }}</span>
              </td>
            </ng-container>
          </tr>
        </table>
      </div>
    </div>
  </div>
  